@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300:700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  padding: 5rem;
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0;
  background-color: white;
  box-shadow: 10px 20px 30px #00000081;
}

.book-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin: 2rem auto;
}

.book-card .book-category {
  opacity: 0.5;
  font-weight: 300;
}

.book-card .book-title {
  font-weight: 700;
}

.book-card .book-action {
  margin-right: 1rem;
  border: none;
}
